{% extends "layout.html" %}
{% block body %}
    {% if current_user.is_authenticated %}
    <div>
        <h2>Hi, {{ current_user.username }}! You can add entries here!</h2>
        <form action="{{ url_for("add_entry") }}" method="post" class="add-entry">
            <dl>
                <dt>Title:</dt>
                <dt><input type=text size=40 name="title"></dt>
                <dt>Content:</dt>
                <dt><textarea name="content" rows=5 cols=40></textarea></dt>
                <dt><input type=submit value=Share></dt>
            </dl>
        </form>
    </div>
    <div>
        <dt class=entries>
            {% for entry in entries %}
                {% include '_post.html' %}
            {% endfor %}
        </dt>
    </div>
    {% endif %}
{% endblock %}